# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps

'.platform-darwin':
  'cmd-shift-h': 'git:menu'
  'cmd-shift-c': 'git:commit'
  'cmd-shift-a s': 'git:status'
  'cmd-shift-a q': 'git:add-and-commit-and-push'
  'cmd-shift-a a': 'git:add-all-and-commit'
  'cmd-shift-a p': 'git:add-all-commit-and-push'

'.platform-win32, .platform-linux':
  'ctrl-shift-h': 'git:menu'
  'ctrl-shift-x': 'git:commit'
  'ctrl-shift-a s': 'git:status'
  'ctrl-shift-a q': 'git:add-and-commit-and-push'
  'ctrl-shift-a a': 'git:add-all-and-commit'
  'ctrl-shift-a p': 'git:add-all-commit-and-push'

'.platform-darwin atom-text-editor':
  'cmd-shift-a': 'git:add'
  'cmd-shift-a c': 'git:add-and-commit'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'ctrl-shift-a': 'git:add'
  'ctrl-shift-a c': 'git:add-and-commit'
